@import "https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin-ext,cyrillic.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body {
    font-family: "PT Sans" !important;
}

h1 {
    font-family: "Roboto Slab" !important;
    font-weight: 700 !important;
    font-size: 2.25rem !important;
    margin-top: 1rem !important;
}

h2 {
    color: #0384fc;
    text-transform: uppercase !important;
    font-family: "Roboto Slab" !important;
    font-weight: 700 !important;
    font-weight: bold !important;
    font-size: 1.25rem !important;
    margin-top: 0.75rem !important;
}

@import "node_modules/bootstrap/scss/bootstrap";